*{margin: 0; padding: 0; }

body{

    background: green;
    background-repeat: repeat;
}
h1{
    text-align: center;
}
.container{
    margin-left: 450px;
    margin-top: 3rem;
    width: 600px;
    height: 450px;
    background-color: honeydew;
    border-radius: 5px;

}

.input1{
    background-color: indigo;
    margin-top: 30px;
}